<logoutFilter>
  <id>-6dd28e46:197ae561e1f:-7fea</id>
  <name>formLogout</name>
  <className>org.geoserver.security.filter.GeoServerLogoutFilter</className>
  <redirectURL>/web/</redirectURL>
  <formLogoutChain>/j_spring_security_logout,/j_spring_security_logout/,/logout</formLogoutChain>
</logoutFilter>